<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lzn37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp95+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <script src="/scripts/bootstrap.bundle.min.js"></script>
    <script src="/scripts/jquery-3.6.0.min.js"></script>
    
</head>
<body>
     <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Usando Bootstrap</h1>
                <p class="lead">
                    Ejemplo de Bootstrap en Spring
                </p>
                <hr class="my-4">
                <p>El siguiente es el cuerpo del documento...</p>
                <div>
                    <p>Contenido del documento</p>
                </div>
            <hr class="my-4">
            <div>
                <div class="row">
                    <div class="col-2"> </div>
                    <div class="col-8">
                        <p>Desarro de Aplicaciones Web. Alma Guadalupe Hernandez Santiago.</p>
                        <p>ITSSNP 2022</p>
                    </div>
                    <div class="col-2"> </div>
                </div>
            </div>
        </div>
     </div>
</body>
</html>